PORT=3002
DB_HOST=localhost
DB_PORT=3307
DB_NAME=jelou_db
DB_USER=jelou_user
DB_PASSWORD=jelou_pass
JWT_SECRET=supersecretjwt
SERVICE_TOKEN=internal-service-token-123
CUSTOMERS_API_BASE=http://localhost:3001